.about{
    padding-top: 93px;
    padding-bottom: 93px;
    height: 270px;

    &__detals {
        display: flex;
        margin-top: 30px;
        margin-bottom: 10px;
    
    
    
    }
    &__list {
        display: flex;
        gap: 30px;
    
    }
    
    
    &__item1::before{
        background-position: center;
        background-image: url(./base/antenna1.png);
        background-repeat: no-repeat;
        content: "";
        display: block;
        width: 100px;
        height: 120px;
        background-color: #F5F4FA;
        border-radius: 4px;
    padding-top: 27px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    
    
    
    }
    
        
        &__item3::before{
            background-position: center;
            background-image: url(./base/diagram1.png);
            background-repeat: no-repeat;
            content: "";
            display: block;
            width: 100px;
            height: 120px;
            padding-left: 100px;
            padding-right: 100px;
            border-radius: 4px;
            background-color: #F5F4FA;
            padding-top: 25px;
        
        
        }
    
    
    
    
    
        
        &__item2::before{
            background-position: center;
            background-image: url(./base/clock1.png);
            background-repeat: no-repeat;
            content: "";
        display: block;
        width: 100px;
        height: 120px;
        padding-left: 100px;
        padding-right: 100px;
        background-color: #F5F4FA;
        padding-top: 25px;
        border-radius: 4px;
        
        
        }
        
        &__item3::before{
            background-position: center;
            background-image: url(./base/astronaut1.png);
            background-repeat: no-repeat;
            content: "";
            display: block;
            width: 100px;
            height: 120px;
            padding-left: 100px;
            padding-right: 100px;
            border-radius: 4px;
            background-color: #F5F4FA;
            padding-top: 25px;
        
        
        }
    
    
    &__item4::before{
        content: " ";
       background-image: url(./base/diagram1.png);
        background-repeat: no-repeat;
        display: block;
        width: 100px;
        height: 120px;
        padding-left: 100px;
        padding-right: 100px;
        background-color: #F5F4FA;
        padding-top: 25px;
        background-position: center;
        border-radius: 4px;
    
    
    }
    &__detals {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: #212121;
    
    
    }
    
    &__ideis {
        @include text();
        font-size: 14px;
        line-height: 24px;
    }
    
    
    
    
    
}

@media screen and (max-width: 768px) {

   .about__list{
    display: flex;
    flex-wrap: wrap;
    width: 738px;
    height: 464px;
   }
   .about{
    width: 738px;
    height: 464px;
   }
   .about__item1{

width: 354px;
height:224px ;

   }
   .about__item2{
    width: 354px;
height:224px ;
   }
   .about__item3{
    width: 354px;
height:224px ;
   }
   .about__item4{
    width: 354px;
height:224px ;
   }




   }