.about{
    padding-top: 93px;
    padding-bottom: 93px;
   

    &__detals {
        display: flex;
        margin-top: 30px;
        margin-bottom: 10px;
    
    
    
    }
    &__list {
        display: flex;
        gap: 30px;
    
    }
    
    
    &__item1::before{
        background-position: center;
        background-image: url(../img/antenna1.png);
        background-repeat: no-repeat;
        content: "";
        display: block;
        width: 270px;
        height: 120px;
        background-color: #F5F4FA;
        border-radius: 4px;
    padding-top: 27px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    
    
    
    }
    
        
        &__item3::before{
            background-position: center;
            background-image: url(../img/clock1.png);
            background-repeat: no-repeat;
            content: "";
            display: block;
            width: 270px;
            height: 120px;
            padding-left: 100px;
            padding-right: 100px;
            border-radius: 4px;
            background-color: #F5F4FA;
            padding-top: 25px;
        
        
        }
    
    
    
    
    
        
        &__item2::before{
            background-position: center;
            background-image: url(../img/clock1.png);
            background-repeat: no-repeat;
            content: "";
        display: block;
        width: 270px;
        height: 120px;
        padding-left: 100px;
        padding-right: 100px;
        background-color: #F5F4FA;
        padding-top: 25px;
        border-radius: 4px;
        
        
        }
        
        &__item3::before{
            background-position: center;
            background-image: url(../img/astronaut1.png);
            background-repeat: no-repeat;
            content: "";
            display: block;
            width: 270px;
            height: 120px;
            padding-left: 100px;
            padding-right: 100px;
            border-radius: 4px;
            background-color: #F5F4FA;
            padding-top: 25px;
        
        
        }
    
    
    &__item4::before{
      
        content: " ";
       background-image: url(../img/diagram1.png);
        background-repeat: no-repeat;
        display: block;
        width: 270px;
        height: 120px;
        padding-left: 100px;
        padding-right: 100px;
        background-color: #F5F4FA;
        padding-top: 25px;
        background-position: center;
        border-radius: 4px;
    
    
    }
    &__detals {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: #212121;
    
    
    }
    
    &__ideis {
        @include text();
        font-size: 14px;
        line-height: 24px;
    }
    
    
    
    
    
}

@media screen and (max-width: 1280px) {

   .about__list{
    display: flex;
    flex-wrap: wrap;
    width: 738px;
    margin-left: 100px;
    

  
   
   
   }
   .about{
   padding-bottom: 00px;
   margin-left: 50px;
   margin-right: 15px;

   }

   .about__item1{
    width: 354px;
    height: 224px;
    flex-shrink: 0;


   }
   .about__item2{
    width: 354px;
height:224px ;
   }
   .about__item3{
    width: 354px;
height:224px ;
   }
   .about__item4{
    width: 340px;
height:224px ;
   }

   }

   @media screen and ( max-width:480px) {
   
    .about__list{
        display: flex;
        flex-wrap: wrap;
       
        height: 464px;
       
      

       }
       .about{

        height: 464px;
        padding-bottom: 460px;
        margin-left: 160px;
       
       }
       .about__item1{
       
        width: 450px;
        height:224px ;
       }
       .about__item2{
       
        width: 450px;
    height:224px ;
    
       }
       .about__item3{
      
        width: 450px;
    height:224px ;
   
       }
       .about__item4{
  
        width: 450px;
    height:224px ;
  
       }

       .about__item1::before{
        padding-left: 190px;
        padding-right: 190px;
    
   
    
       }
       .about__item2::before{
        padding-left: 190px;
        padding-right: 190px;
       
       }
       .about__item3::before{
        padding-left: 190px;
        padding-right: 190px;
       
       }
       .about__item4::before{
        padding-left: 190px;
        padding-right: 190px;
       
       }

 }


   

  