.clients{
    margin-bottom: 91px;
    padding-top: 140px;



    &__text{
        color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
    }
    
    
    &__ul{
        display: flex;
        gap: 30px;
    }
    &__icon1{
        width: 106px;
    height: 60px;
    flex-shrink: 0;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    fill: #AFB1B8;
    transition: 900ms;
    }
    
    &__icon2{
        width: 106px;
        height: 60px;
        flex-shrink: 0;
        padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    fill: #AFB1B8;
    transition: 900ms;
    }
    
    
    &__icon3{
        width: 106px;
        height: 60px;
        flex-shrink: 0;
        padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    fill: #AFB1B8;
    transition: 900ms;
    }
    
    
    &__icon4{
        width: 106px;
        height: 60px;
        flex-shrink: 0;
        padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    fill: #AFB1B8;
    transition: 900ms;
    }
    
    
    &__icon5{
        width: 106px;
        height: 60px;
        flex-shrink: 0;
        padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    fill: #AFB1B8;
    transition: 900ms;
    }
    
    
    &__icon6{
        width: 106px;
        height: 60px;
        flex-shrink: 0;
        padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    fill: #AFB1B8;
    transition: 900ms;
    }
    &__icons{
        border-radius: 4px;
    border: 1px solid #AFB1B8;
    
    }
    
    &__icons:hover{
        border: 1px solid #2196F3;
    }
    
    
    &__icon1:hover{
        fill: #2196F3;
    }
    
    &__icon2:hover{
        fill: #2196F3;
    }
    
    &__icon3:hover{
        fill: #2196F3;
    }
    &__icon4:hover{
        fill: #2196F3;
    }
    &__icon5:hover{
        fill: #2196F3;
    }
    &__icon6:hover{
        fill: #2196F3;
    }




}


@media screen and (max-width: 768px) {

   .clients{
    width: 738px;
    height: 214px;
    display: flex;
    flex-wrap: wrap;
   margin-bottom: 60px;
   padding-bottom: 60px;
   }

   .clients__ul{
    width: 738px;
    height: 214px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
 
   }

   .clients__text{
    margin-left: 250px;
   margin-top: -10px;
   margin-bottom: 30px;
   }

  
  
  
  
  }

  @media screen and ( min-width:480px) {
    
    .clients{
        width: 600px;
        
       
       margin-bottom: 60px;
       padding-bottom: 60px;
       }
    
       .clients__ul{
        width: 738px;
        height: 214px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 150px;
        
     
       }
    
       .clients__text{
        margin-left: 200px;
       margin-top: -10px;
       margin-bottom: 30px;
       }
    
   

 }















