
.footer{
    background-color: #2F303A;

    display: flex;




    &__addres {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
    
        letter-spacing: 0.03em;
    
        color: #FFFFFF;
        padding-top: 20px;
    
    }
    
    
    &__adres {
      
        @include text();
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        padding: 9px;
        color: rgba(255, 255, 255, 0.6);
    }
    
    
    &__numer {
        @include text();
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.03em;
    
        color: rgba(255, 255, 255, 0.6);
        padding-bottom: 60px;
    
    
    }
    &__logo {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        /* identical to box height */
    
        letter-spacing: 0.03em;
    
        color: #FFFFFF;
    
    }&__halper{
        background-color: rgba(255, 255, 255, 0.1); 
        border-radius: 50px;
        width: 44px;
        height: 44px;
        margin-top: 21px;
        transition: 250ms;
        
    }
    
    
    &__halper:hover{
    background-color: #2196F3;
    border-radius: 50px;
    width: 44px;
    height: 44px;
    }
    
    
    &__div{
        display: flex;
        gap: 10px;
    }
    
   
      
    
    &__join{
        color: #FFF;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase; 
    }
    
    &__svg2{
        width: 20px;
        height: 20px;
        flex-shrink: 0;
    fill: #ECECEC;
    padding: 12px;
    
      
    }
    
    &__foot1{
        width: 1170px;
        padding-left: 15px;
        padding-right: 15px;
        
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
    
    &__blok{
        margin-top: 75px;
        margin-left: 156px;
    
    }
    
    &__logo1 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        /* identical to box height */
    
        letter-spacing: 0.03em;
    
        color: #2196F3;
    
    padding-top: 60px;
    }
    
    &__svg1:hover{
       fill: #FFF;
       background: #2196F3;
    }
    
    &__svg1{
        transition: 250ms;
    }
}

@media screen and (max-width: 768px) {
    
.footer__join{
    margin-left: 50px;
}
    
   
   
   
   
   }

   @media screen and ( min-width:480px) {
    
.footer{
    height: 500px;
   margin-top: 200px;
}

// .footer__blok{
//     margin-top: 200px;
//     margin-right: 200px;
// }


//    .footer-ol{
// margin-left: 200px;

//    }

    
   

 }



