.header-logo1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #2196F3;
padding-bottom: 25px;
padding-top: 24px;
}

.hero{
    /* background-image:  url(./imggg.png);
    background: linear-gradient(to right, rgba(9, 5, 47, .85) 10%, rgba(49, 29, 94, .85) 10%); */
    padding-top: 200px;
    padding-bottom: 200px;
    background: rgba(47, 48, 58, 0.40), url(/img/imggg.png);

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.40) 0%, rgba(47, 48, 58, 0.40) 100%), url(/img/imggg.png);
    
}




.header-logo4 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #2196F3;

}





.sssc{
    border-radius: 0px 0px 4px 4px;
background: #FFF;

/* material shadow v1 */
box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.header-logo3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #000000;

}
.header-logo2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #000000;

}
.header-logo10 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #2196F3;

padding-top: 60px;
}
.header-studio:hover {
    color: #2196F3;
}

.header-studio {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    transition: 250ms;

    color:#2196F3 ;
padding-left: 93px;
padding-right: 30px;
}




.header-contakt:hover {
    color: #2196F3;
}

.header-contakt {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    transition: 250ms;

    color: #212121;
}


.header-numer:hover {
    color: #2196F3;
}

.header-numer {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    transition: 250ms;

    color: #757575;
}

.header-post:hover{
    color: #2196F3;
   
}

.header-post {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    transition: 250ms;

    color: #757575;

}

.header-conteiner{
    outline: none;
}
.header-logo2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #2196F3;

}
.header-logo2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #000000;

}
.header-nav{
    outline: none;
}