

.header{
    display: flex;
    justify-content: space-between;

 
   




    &__logo1 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        /* identical to box height */
    
        letter-spacing: 0.03em;
    
        color: #2196F3;
    padding-bottom: 25px;
    padding-top: 24px;
    }
    
    
    &__conteiner{
        display: flex;
    }
    
    
    &__ul {
        display: flex;
        justify-content: flex-start;
        gap: 100px;
       margin-top: 30px;
       width: 200px;


      




    }
    
    &__kontact{
        display: flex;
        justify-content: flex-end;
        gap: 100px;
        margin-left: auto;
        align-items: center;
    margin-left:400px ;
    


    }

    &__portfolio{
        @include head-text;

       
        
    }
    
&__portfolio:hover{
    color: #2196F3;
}

    &__logo4 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        /* identical to box height */
    
        letter-spacing: 0.03em;
    
        color: #2196F3;
    
    }
    
    
    &__logo3 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        /* identical to box height */
    
        letter-spacing: 0.03em;
    
        color: #000000;
    
    }
    &__logo2 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        /* identical to box height */
    
        letter-spacing: 0.03em;
    
        color: #000000;
    
    }
    
    &__studio:hover {
        color: #2196F3;

    }
    
    &__studio {
        @include head-text;

       

       
    
        color:#2196F3 ;
    padding-left: 93px;
    padding-right: 30px;
    }
    
    
    
    
    &__contakt:hover {
        color: #2196F3;
    }
    
    &__contakt {
      @include head-text;

     
    }
    
    
    &__numer:hover {
        color: #2196F3;
    }
    
    &__numer {
        @include text;
        font-weight: 500;
      
        line-height: 16px;
        letter-spacing: 0.02em;
    
        transition: 250ms;
      
    
       
    }
    
    &__post:hover{
        color: #2196F3;
       
    }
    
    &__post {
        @include text();
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.01px;
    
        transition: 250ms;
       
    
       
    
    }
    
    &__conteiner{
        outline: none;
    }
    &__logo2 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        /* identical to box height */
    
        letter-spacing: 0.03em;
    
        color: #2196F3;
    
    }
    &__logo2 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        /* identical to box height */
    
        letter-spacing: 0.03em;
    
        color: #000000;
    
    }
    &__nav{
        outline: none;
        display: flex;
        margin-top: px;
    }
    
    &__stu{
        position: relative; 
        width: 60px;
        height: 4px;
        flex-shrink: 0;
        display: block;
        opacity: 1;
       left: 85px;
        top: 28px;
       
    
    }
    
    &__li:hover{
       
        color: #2196F3;
        &__svg{
            fill: #2196F3;
        }
        &__svg1{
            fill: #2196F3;
        }
    }

    &__li{
        display: flex;
    }
    
    &__svg{
        width: 16px;
        height: 12px;
        fill: #757575;
        margin-top: 2px;
    
    }
    
    &__svg1{
        width: 10px;
        height: 16px;
        fill: #757575;
    }
    
    &__svg1:hover {
        fill: #2196F3;
    }
    
   
}




  

    
 
   
    
 
 
 
    
     
 
 
        


  


    


@media screen and (max-width: 768px) {

   .header__ul{
        display: flex;
        justify-content: center;
        gap: 41px;
        margin-left: 218px;
   }

   .header__logo1{
   
    font-size: 34px;
    width: 10px;
   
   }
   .header__logo2{
   
    font-size: 34px;
   
   }

   .header__numer{
    font-size: 12px;
   }

   .header__svg1{
    position: relative;
    right: 20px;
   }

   .header__post{
    position: relative;
    font-size: 12px;
    right: 20px;
   }


  
   


.header__kontact{
margin-left: 0px;
display: flex;
flex-wrap: wrap;
gap: 0px;
width: 139px;
height: 34px;
top: 20px;


position: relative;
left: 150px;


   
    
}

    .header__studio{
        padding-right: 0;
       
    }

    .header__nav{
   display: flex;
       
    }

   
  }



  

  @media screen and ( max-width:480px) {
  

    .header__nav{
       display: none;
       
    }


}





