
.mein{


    &__worker {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
    
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;
    
    }
    
    
    
    &__work {
        @include text();
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        
        text-align: center;
        letter-spacing: 0.03em;
    
       
        padding-bottom: 30px;
        padding-top: 10px;
        
    }
    &__us2{
        color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    padding-bottom: 50px;
    padding-top: 94px;
    
   
    
    }
    &__team{
        display: flex;
        margin-left: 30px;
        gap: 10px;
        padding-bottom: 30px;
    }
    
    &__all{
        width: 20px;
        height: 20px;
        fill: #757575;
        padding: 12px;
        transition: 250ms;
    }
    
    
    &__all:hover{
        fill: #ECECEC;
    }

.sssc{
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    
    /* material shadow v1 */
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}


    &__card{
        border-radius: 0px 0px 4px 4px;
    background: #FFF;
    
    /* material shadow v1 */
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    }
    
    &__svg:hover{
        background: #2196F3;
        fill: #ECECEC;
        border-radius: 50px; 
    
    }
    
    &__svg{
        width: 44px;
    height: 44px;
    transition: 250ms;
    
    }
    .mein {
        display: flex;
        gap: 30px;
        padding-bottom: 0;
    }
    &__button {
    
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    }
    
}

@media screen and (max-width: 768px) {

    .mein{
        height: 922px;
        width: 738px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 100px;
        margin-bottom: 200px;
        padding-bottom: 60px;

    }

    .csss{
        width: 354px;
        height: 536px;
       
background: #FFF;

/* material shadow v1 */
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    }

    .mein__photo1{
        width: 354px;
        height: 374px;
        flex-shrink: 0;
    }
    }


  
  
  
  
  

  @media screen and ( max-width:480px) {
    
    .mein{
        height: 2300px;
        width: 600px;
       
      

        margin-left: 0;
     margin-left: 50px;
        margin-right: 100px;
        margin-bottom: 700px;
        padding-bottom: 200px;
        padding-top: 100px;


    }

    .csss{
        height: 2300px;
        width: 460px;
        border-radius: 0px 0px 10px 10px;
background: #FFF;

/* material shadow v1 */
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    }

    .mein__photo1{
        width: 600px;
        height: 480px;
        flex-shrink: 0;
    }

    .mein__us2{
    
        margin-left: 250px;
        padding-top: 500px;
    }


    .mein__team{
        margin-left: 130px;
    }
     
    }
   

 














