.mein1{










    &__w {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
       
       
    
        color: #212121;
        padding-bottom: 50px;
    
    
    }
    &__us {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;
    
    }

    &__work1{
        display: flex;
        gap: 30px;
    }
    
    
    &__position{
        color:#FFF ;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        width: 370px;
        position: relative;
        bottom: 70px;
        left: 0px;
        z-index: 2;
        
        background: rgba(47, 48, 58, 0.80);
        padding-left: 90px;
   
    padding-top: 27px;
    padding-bottom: 27px;
   
      
     
    
    
    
    }
    &__position2{
        color:#FFF ;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        width: 370px;
        position: relative;
        bottom: 70px;
        left: 0px;
        z-index: 2;
        background: rgba(47, 48, 58, 0.80);
        padding-left: 90px;
        padding-right: 80px;
        padding-top: 27px;
        padding-bottom: 27px; 
        
    }
    
    &__position3{
        color:#FFF ;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        width: 370px;
        position: relative;
        bottom: 70px;
        left: 0px;
        z-index: 2;
        
        background: rgba(47, 48, 58, 0.80);
        padding-left: 90px;
        padding-right: 80px;
        padding-top: 27px;
        padding-bottom: 27px; 
    } 
    &__photo0 {
        width: 370px;
        height: 294px;
        
    }
    &__us1 {
        display: flex;
        justify-content: center;
    
        flex-direction: column;
    }
    &__work1{
        display: flex;
       
        padding-bottom: 94px;
        
    }

}

@media screen and (max-width: 1280px) {

    .mein1{
        display: none;
    }


  
  
  
  
  }
















