.mein-us-w {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
    padding-bottom: 50px;


}
.mein-us {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;

}

mein-us1{
   
}
.position{
    color:#FFF ;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    width: 200px;
    position: relative;
    bottom: 70px;
    left: 30px;
    z-index: 2;
    
    background: rgba(47, 48, 58, 0.80);
    padding-left: 90px;
    padding-right: 80px;
    padding-top: 27px;
    padding-bottom: 27px; 



}
.position2{
    color:#FFF ;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    width: 200px;
    position: relative;
    bottom: 70px;
    left: 30px;
    z-index: 2;
    background: rgba(47, 48, 58, 0.80);
    padding-left: 90px;
    padding-right: 80px;
    padding-top: 27px;
    padding-bottom: 27px; 
    
}

.position3{
    color:#FFF ;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    width: 200px;
    position: relative;
    bottom: 70px;
    left: 30px;
    z-index: 2;
    
    background: rgba(47, 48, 58, 0.80);
    padding-left: 90px;
    padding-right: 80px;
    padding-top: 27px;
    padding-bottom: 27px; 
} 
.photo0 {
    width: 370px;
    height: 294px;
    padding-left: 30px;
}
.mein-us1 {
    display: flex;
    justify-content: center;

    flex-direction: column;
}
.our-work {
    display: flex;
    align-items: baseline;
    padding-bottom: 94px;
    
}
.cccs{
    background: #F5F4FA;
    width: 270px;
    height: 120px;
    padding-top: 10px;
    margin-bottom: 30px;
}










