.footer2{

padding-bottom: 60px;





    background-color: #2F303A;
    
    &__logoo{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        /* identical to box height */
    
        letter-spacing: 0.03em;
    
        color: #2196F3;
    padding-bottom: 25px;
    padding-top: 24px;
    }
    
    &__logo{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        /* identical to box height */
    
        letter-spacing: 0.03em;
    
        color: #FFFFFF;
    
    }
    
    &__addres{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
    
        letter-spacing: 0.03em;
        transition: 250ms;
        color: #FFFFFF;
    }
    
    &__numer{
        font-size: 14px;
        line-height: 24px;
        @include text();
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        margin-top: 5px;
    
    
    }
    
    
    
    
    
    
    
        
    
        
}

