.cccs{
    background: #F5F4FA;
    width: 270px;
    height: 120px;
    padding-top: 10px;
    margin-bottom: 30px;
}









.button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */

    text-align: center;
    letter-spacing: 0.03em;
    transition: 250ms;
    color: #212121;
    margin-left: 8px;
}

.button3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    transition: 250ms;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.button4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    transition: 250ms;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;

}

.button5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    transition: 250ms;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;

}

.header-logo2 {
    color: #212121;
}

.footer-logo2 {
    color: #FFFFFF;

    background-color: #000000;
}






   

    .mein{
        background-color: #F5F4FA;
    }

.coteiner {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    
    margin-left: auto;
    margin-right: auto;
}











.button{
    border-radius: 4px;
background: #F5F4FA;
}
























.numer2 {
    display: flex;
    margin-left: auto;
    gap: 50px;

}

.mein2 {
    margin-top: 94px;
}








.header-ul {
    display: flex;
    gap: 32px;
    align-items: center;
    margin-left: 93px;
}

.header-ul2 {
    display: flex;
    margin-left: auto;
    gap: 50px;
}







.photo1{
    width: 370px;
    height: 294px;
    
}

.photo3{
    width: 370px;
    height: 294px;
    
}



.footer{
    background: #2F303A;
}




.hero-button{
    margin: auto;
}

.mein-us-w{
    
    margin-bottom: 50px;
}
.mein-worker{
    margin-top: 30px;
    margin-bottom: 10px;
}



.head-li{
    display: flex;
    gap: 10px;
    transition: 250ms;
   


}





























.sell-buton{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.96px;
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
background: #2196F3;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
margin-left: 140px;
margin-top: 25px;
margin-bottom: px;

}


.apru-text{
    color: #757575;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
}








.box{
    width: 100px;
    height: 100px;
}

.fg{
    opacity: 0;
}

.fg:hover{
    opacity: 1;
}

















.portfolio-box{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 220px;
    bottom: 600px;
    gap: 30px;
    width: 1170px;
    left: 345px;
    
    
    
}

.port-svg{
    width: 78px;
height: 4px;
flex-shrink: 0;
margin-top: px;
display: block;
opacity: 1;
position: relative;
top: 6px;
transition: 250ms;
}


.port-svg:hover{
    opacity: 1;
}















